.jumbotron {
  background-color: white;
  padding: 0;
  margin: 50px 0 0 0;
  border-bottom: 10px solid #794ae2;
}

.jumbotron .container {
  margin: 0;
  padding: 0;
}

.jumbotron .image-box {
  width: 50%;
}

.jumbotron img {
  max-width: 100%;
  height: auto;
}

.jumbotron .copy-box {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right:  4rem;
  background-color: white;
  opacity: .9;
}

.jumbotron h1 {
  color: #794ae2;
}

.jumbotron p {
  color: #666;
}

.style-of-dance {
  display: flex;
  align-items: center;
  padding: 4rem 19%;
  background-color: #f2f2f2;
}

.style-of-dance img {
  width: auto;
  height: 9.375rem;
  margin-right: 5rem;
}

.style-of-dance .copy-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.style-of-dance h3 {
  color: #794ae2;
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.style-of-dance p {
  color: #666;
  font-size: 1.5rem;
  line-height: 1.5;
}

.style-of-dance.alternate {
  flex-direction: row-reverse;
  background-color: #fff;
}

 .style-of-dance.alternate img {
   margin-left: 5rem;
   margin-right: 0;
}

/*Responsive Rules - Tablet sizes*/
@media only screen and (max-width: 767px) {
  .jumbotron .container {
    display: flex;
    flex-direction: column;
  }

  .jumbotron .image-box {
    width: 100%;
    margin-bottom: -115px;
  }

  .jumbotron .copy-box {
    width: 100%;
    padding-left: 4rem;
  }

  .jumbotron h1 {
    font-size: 1.25em;
  }

  .jumbotron p {
    font-size: 1em;
    line-height: 1.6;
  }
}


@media only screen and (max-width: 500px) {
  .jumbotron {
    margin-top: 35px;
  }

  .jumbotron .image-box {
    margin-bottom: 0;
  }
}
