.jumbotron {
  background-color: white;
  padding: 0;
  margin: 50px 0 0 0;
  border-bottom: 10px solid #794ae2;
}

.jumbotron .container {
  margin: 0;
  padding: 0;
}

.jumbotron .image-box {
  width: 50%;
}

.jumbotron img {
  max-width: 100%;
  height: auto;
}

.jumbotron .copy-box {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right:  4rem;
  background-color: white;
  opacity: .9;
}

.jumbotron h1 {
  color: #794ae2;
}

.jumbotron p {
  color: #666;
}

/* Class Info */
.class-list {
  padding: 5.3125rem 1.25rem 1rem 1.25rem;
}

.class-list h3 {
  font-size: 1.875rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: rgba(174, 75, 227, 0.9);
}

.class-list h4 {
  font-size: 1.125rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin: 1.125rem 0 0 0;
}

.class-list span {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #000;
}

.class-list p {
  font-size: .875rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7;
  margin-top: 1.125rem;
  margin-bottom: 3.75rem;
}

/*Responsive Rules - Tablet sizes*/
@media only screen and (max-width: 767px) {
  .jumbotron .container {
    display: flex;
    flex-direction: column;
  }

  .jumbotron .image-box {
    width: 100%;
    margin-bottom: -115px;
  }

  .jumbotron .copy-box {
    width: 100%;
    padding-left: 4rem;
  }

  .jumbotron h1 {
    font-size: 1.25em;
  }

  .jumbotron p {
    font-size: 1em;
    line-height: 1.6;
  }

  .class-list span {
    font-size: 1.125rem;
  }

  .class-list p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 2.25rem;
  }
}

@media only screen and (max-width: 540px) {
  .jumbotron {
    margin-top: 35px;
  }

  .jumbotron .image-box {
    margin-bottom: 0;
  }

  .class-list h4 {
    font-size: 1rem;
    margin-top: .625rem;
  }

  .class-list span {
    font-size: .875rem;
    line-height: 1.7;
  }

  .class-list p {
    font-size: .875rem;
    line-height: 1.7;
    margin-bottom: 2.5rem;
  }
}
