.jumbotron {
  background-color: white;
  background-image: url("../img/faculty-photo.png");
  background-size: cover;
  padding: 0;
  margin: 50px 0 0 0;
  border-bottom: 10px solid #8a54ff;
}

.jumbotron .container {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.jumbotron .copy-box {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: .9;
  padding: 9rem 0;
}

.jumbotron h1 {
  color: #794ae2;
}

.jumbotron p {
  color: #999;
}

/* Staff List */
.stafflist {
  padding: 5.625rem 7.5rem 11.25rem 7.5rem;
  text-align: center;
}

.stafflist .image-box {
  width: 16.875rem;
  margin: 0 auto;
}

.stafflist .image-box img {
  width: 100%;
}

.stafflist h3 {
  font-size: 1.875rem;
  font-weight: bold;
}

.stafflist h4 {

}

.stafflist p {

}

@media only screen and (max-width: 767px) {
.jumbotron h1 {
    font-size: 1.25em;
  }

  .jumbotron p {
    font-size: 1em;
    line-height: 1.6;
  }
}


@media only screen and (max-width: 500px) {
  .jumbotron {
    margin-top: 35px;
  }

  .jumbotron .copy-box {
    width: 100%;
    padding: 18rem 0 0 0;
  }
}
