/* Font Families
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/*Universal Styles*/
body {
  font-size: 16px;
}

/* Bootstrap Navbar Styles*/
.navbar-default {
  background-color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.43rem;
  font-weight: bold;
  color: #ffffff;
}

.navbar-brand {
  padding: 0;
}

nav .container-fluid {
  padding-right: 3.6875rem;
  padding-left: 3.4375rem;
}

/*Jumbotron styles*/
.jumbotron {
  background-image: url("../img/dancers-photo.png");
  background-size: cover;
  margin: 50px auto 0 auto;
}

.jumbotron .container {
  width: 45rem;
  margin: 9.4375rem auto 3.125rem auto;
  color: #ffffff;
  text-align: center;
}

.jumbotron h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.125rem;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}

.jumbotron p {
  margin: 2.6875rem 0 5rem 0;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

.jumbotron a {
  padding: 1.25rem 3.125rem;
  background-color: #f5a623;
  font-size: 1.375rem;
  font-weight: bold;
  color: #ffffff;
}

/* Blog Preview Styles*/
.blog-preview {
  height: 40rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.blog-info-box {
  display: flex;
  flex-direction: column;
  height: 20em;
  width: 25em;
  background-color: rgba(120, 73, 225, 0.9);
  color: #ffffff;
  padding: 5rem 3rem;
}

.blog-info-box h3 {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.2;
}

.blog-info-box span {
  font-size: 1.4rem;
  line-height: 1.4;
  margin: 1.25rem 0;
}

.blog-info-box a {
  font-weight: bold;
  color: #ffffff;
}

#blog-one {
  background-image: url("../img/graffiti-photo.png");
  background-size: cover;
}

#blog-two {
  background-image: url("../img/fire-photo.png");
  background-size: cover;
}

#blog-three {
  background-image: url("../img/jump-photo.png");
  background-size: cover;
}


/* Footer Styles */
footer {
  background-image: url("../img/party-photo.png");
  background-size: cover;
}

footer, footer a {
  color: #ffffff;
}

footer .top {
  height: 3.125em;
  background-color: rgba(120, 73, 225, 0.3);
}

footer .social-media {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
}

footer .so-mi-icons {
  width: 9.375em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .contact {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer .bottom {
  height: 15em;
  text-align: center;
}

footer .bottom p {
  font-size: .875em;
  letter-spacing: 0.7px;
}

footer #contact-info {
  margin-top: 5em;
}

/*Responsive*/
@media only screen and (max-width: 767px) {
  /* These rules keep the navbar from changing format on small screens */
  .navbar-right {
    float: right!important;
    margin-right: -15px;
  }

  .navbar-nav>li {
      float: left;
  }

  .navbar-header {
    float: left;
  }
  .container-fluid>.navbar-header {
    margin-right: 0;
    margin-left: 0;
  }
  /* End navbar rules */


}
