/* Font Families
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/*Universal Styles*/
body {
  font-size: 16px;
}

@media only screen and (max-width: 765px) {

}

/*Navbar Styles*/
.navbar-default {
  background-color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
}

.navbar-brand {
  padding: 0;
}

nav .container-fluid {
  padding-right: 3.6875rem;
  padding-left: 3.4375rem;
}

/*Jumbotron styles*/
.jumbotron {
  background-image: url("../img/dancers-photo.png");
  background-size: cover;
}

.jumbotron .container {
  width: 45rem;
  margin: 9.4375rem auto 3.125rem auto;
  color: #ffffff;
  text-align: center;
}

.jumbotron h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.125rem;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}

.jumbotron p {
  margin: 2.6875rem 0 5rem 0;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

.jumbotron a {
  padding: 1.25rem 3.125rem;
  background-color: #f5a623;
  font-size: 1.375rem;
  font-weight: bold;
  color: #ffffff;
}
